#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) CFLAGS="-Wall -Wextra -O2 -D_FILE_OFFSET_BITS=64"

override_dh_auto_install:
	$(MAKE) install DESTDIR=debian/compbench PREFIX=/usr

override_dh_usrlocal:
	# Prevent installing into /usr/local
